<div id="contact-form-wrapper">
    <div id="contact-form">
        {{ SP.ACF.get_field('contact_lightbox', 'option') }}
    </div>
</div>
<section class="call-to-action" style="background-image: url('{{ SP.ACF.get_field('call_to_action_background', 'option').url }}')">
    <div class="row column">
        <h4>
            {{ SP.ACF.get_field('call_to_action_text', 'option') }}
        </h4>
        <a href="#contact-form" class="fancybox primary button">{{ SP.ACF.get_field('call_to_action_button_text', 'option') }}</a>
    </div>
</section>
<footer class="footer">
    <div class="row">
        <div class="small-12 large-4 columns large-order-2">
            <div class="row">
                <div class="shrink columns large-text-right">
                    <a href="{{ SP.ACF.get_field('linkedin', 'option') }}" target="_blank"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="shrink columns">
                    <a href="{{ SP.ACF.get_field('google_maps_url', 'option') }}" target="_blank">
                        {{ SP.ACF.get_field('address', 'option') }}<br />
                        {{ SP.ACF.get_field('city', 'option') }}, {{ SP.ACF.get_field('state', 'option') }} {{ SP.ACF.get_field('zipcode', 'option') }}, USA
                    </a>
                </div>
            </div>
        </div>
        <div class="small-12 large-8 columns medium-order-1">
            {{
            SP.WordPRess.menu({
                'container': false,
                'theme_location': "primary_menu",
                'menu_id': '',
                'menu_class': 'vertical medium-horizontal menu',
                'depth': '1'
            })
            }}
            <div class="copyright"><small>{{ SP.ACF.get_field('copyright_text', 'option') }}</small></div>
        </div>
    </div>
</footer>