{% extends 'base.html.twig' %}
{% block meta %}
    {{ parent() }}
    {% if SP.ACF.get_field('favicon', 'option') %}
        <link rel="shortcut icon" type="image/png" href="{{ SP.ACF.get_field('favicon', 'option').url }}"/>
    {% elseif SP.ACF.get_field('mobile_logo', 'option') %}
        <link rel="shortcut icon" type="image/png" href="{{ SP.ACF.get_field('mobile_logo', 'option').url }}"/>
    {% elseif SP.ACF.get_field('color_logo', 'option') %}
        <link rel="shortcut icon" type="image/png" href="{{ SP.ACF.get_field('color_logo', 'option').url }}"/>
    {% endif %}
{% endblock %}
{% block header %}
    {% include "layout/menu.html.twig" %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% if rows %}
        {% for row in rows %}
            {{ row }}
        {% endfor %}
    {% else %}
        {% if SP.WordPress.content() %}
            <section class="content">
                <div class="row column">
                    {{ SP.WordPress.content() }}
                </div>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}